@using X.PagedList.Mvc;
@model X.PagedList.PagedList<WeW.WEB.Models.Produto>

<div id="divListaProdutos">
    <table class="table">
        <tr>
            <th>
                Código
            </th>
            <th>
                Nome
            </th>
            <th>
                Descrição
            </th>
            <th>
                Preço
            </th>

            <th>
                Categoria
            </th>

            <th>
                Quantidade
            </th>
            <th>
                Ações
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Alterar", new { id = item.Cod }) |
                    @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Cod })
                </td>
            </tr>
        }

    </table>

    <div class="row">
        <div class="text-center">
            @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))
        </div>
    </div>
</div>
