<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Loja Virtual</title>
    <link rel="stylesheet" type="text/css" href="~/Content/toastr.css" />
    <script src="~/Scripts/toastr.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap-united.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            var displayMessage = function (message, msgType) {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr[msgType](message);
            };

            if ($('#success').val()) {
                displayMessage($('#success').val(), 'success');
            }
            if ($('#info').val()) {
                displayMessage($('#info').val(), 'info');
            }
            if ($('#warning').val()) {
                displayMessage($('#warning').val(), 'warning');
            }
            if ($('#error').val()) {
                displayMessage($('#error').val(), 'error');
            }
        });
    </script>

    <style>
        footer p {
            font-style: italic;
            text-align: center;
        }
    </style>
</head>
<body>
    <input type="hidden" id="success"
           value="@TempData["success"]" />
    <input type="hidden" id="info"
           value="@TempData["info"]" />
    <input type="hidden" id="warning"
           value="@TempData["warning"]" />
    <input type="hidden" id="error"
           value="@TempData["error"]" />

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("W&W Makeup", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Produtos", "Index", "Produto")</li>
                    <li>@Html.ActionLink("Categorias", "Index", "Categoria")</li>

                    @*<li>@Html.ActionLink("Registro de Vendas", "Index", "Registro")</li>*@
                </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Administração<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Usuários", "Index", "Usuario")</li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right ">
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">logout<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Sair", "Logout", "Login")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - developed by <a href="http://github.com/wess223">Wesley Alves</a></p>
        </footer>
    </div>
 
</body>
</html>
